smart street light monitoring system@team froyo/flows.json
[{"id":"421594c6.979f5c","type":"tab","label":"smart street light","disabled":false,"info":""},{"id":"fb2f4016.ffd01","type":"debug","z":"421594c6.979f5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":200,"wires":[]},{"id":"3534e8f9.838948","type":"ibmiot in","z":"421594c6.979f5c","authentication":"apiKey","apiKey":"ae2e2329.ad31c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"froyo1234","applicationId":"","deviceType":"smart_street_light_monitor","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":210,"y":180,"wires":[["32ca09fa.70c216"]]},{"id":"32ca09fa.70c216","type":"function","z":"421594c6.979f5c","name":"light","func":"msg.payload=msg.payload.d.light\nglobal.set(\"light\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":200,"wires":[["fb2f4016.ffd01","e5eef2b0.8736c"]]},{"id":"e5eef2b0.8736c","type":"ui_chart","z":"421594c6.979f5c","name":"light","group":"695ebb96.825fc4","order":22,"width":"5","height":"3","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Data is being collected please wait...","dot":false,"ymin":"0","ymax":"1023","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#1111ec","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":650,"y":140,"wires":[[]]},{"id":"eb99a795.e080e8","type":"http in","z":"421594c6.979f5c","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":240,"y":320,"wires":[["768fb2df.18211c"]]},{"id":"768fb2df.18211c","type":"function","z":"421594c6.979f5c","name":"","func":"msg.payload={\"light\":global.get(\"light\")}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":320,"wires":[["77898fd5.c81e8"]]},{"id":"77898fd5.c81e8","type":"http response","z":"421594c6.979f5c","name":"","statusCode":"","headers":{},"x":650,"y":320,"wires":[]},{"id":"db3a2f4a.d1621","type":"http response","z":"421594c6.979f5c","name":"","statusCode":"","headers":{},"x":710,"y":440,"wires":[]},{"id":"6168d221.e1262c","type":"function","z":"421594c6.979f5c","name":"","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":440,"wires":[["db3a2f4a.d1621","2436da24.795ca6","ae3fc0f3.83326"]]},{"id":"3bd82503.d9328a","type":"http in","z":"421594c6.979f5c","name":"","url":"/receive","method":"get","upload":false,"swaggerDoc":"","x":230,"y":440,"wires":[["6168d221.e1262c"]]},{"id":"c669c139.ebccd","type":"ui_button","z":"421594c6.979f5c","name":"","group":"695ebb96.825fc4","order":2,"width":0,"height":0,"passthru":false,"label":"light on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lighton","payloadType":"str","topic":"","x":280,"y":500,"wires":[["ae3fc0f3.83326","2436da24.795ca6"]]},{"id":"f391c81c.4d13c8","type":"ui_button","z":"421594c6.979f5c","name":"","group":"695ebb96.825fc4","order":3,"width":0,"height":0,"passthru":false,"label":"light off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lightoff","payloadType":"str","topic":"","x":280,"y":560,"wires":[["ae3fc0f3.83326","2436da24.795ca6"]]},{"id":"2436da24.795ca6","type":"ibmiot out","z":"421594c6.979f5c","authentication":"apiKey","apiKey":"d9fcf5ea.fd9af8","outputType":"cmd","deviceId":"froyo1234","deviceType":"smart_street_light_monitor","eventCommandType":"home","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":580,"y":580,"wires":[]},{"id":"ae3fc0f3.83326","type":"debug","z":"421594c6.979f5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":520,"wires":[]},{"id":"ae2e2329.ad31c","type":"ibmiot","z":"","name":"smart street light","keepalive":"60","serverName":"gsapfg.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"695ebb96.825fc4","type":"ui_group","z":"","name":"smart street light monitor","tab":"8405db20.8aad58","disp":true,"width":"5","collapse":false},{"id":"d9fcf5ea.fd9af8","type":"ibmiot","z":"","name":"IoT in Node-Red","keepalive":"60","serverName":"gsapfg.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"8405db20.8aad58","type":"ui_tab","z":"","name":"Smart Street Light","icon":"dashboard","disabled":false,"hidden":false}]